.container {
    border: 3px solid #ff3366; /* Hồng đỏ */
    padding: 30px;
    border-radius: 10px;
    max-width: 1000px;
    margin: auto;
}
.so-don {
    text-align: right;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
    margin-right: 10px;
}
